<div id="top">
  <img src="logo1.png" height="200">
  <a href="index.html"></a>
</div>
<div id="MENU">
 <center> MENU </center>
 <div class="item" id="Inicio">
 				<a href="index.html">Inicio</a>
	</div>
	<div class="item" id="Historia">
			<a href="Historia.html">Historia</a>
	</div>
	<div class="item" id="Yeezymascara">
		<a href="Yeezymascara.html">Yeezy mas cara</a>
	</div>
	<div class="item" id="Modelos">
			<a href="Modelos.html">Modelos</a>
	</div>
	<div class="item" id="ProximasYeezy">
			<a href="ProximasYeezy.html">Proximas Yeezy</a>
	</div>
</div>
