* {
  box-sizing: border-box;
}

html,body {
  margin: 0%;
  background-color: #eceaea;
  height: 100%;



}

#top {
  width: 100%;
  animation-duration: 3s;
  animation-name: slidein;

}

#MENU {
    border: thin solid black;
    background-color: #9F958C;
    color: white;
    font-family: 'Libre Barcode 128 Text', cursive;
    font-size: 30px;

}


.item {
  background-color: #9F958C;
  padding: 10px;
  font-size: 30px;
  color: white;
  transition: 0.3s ease;
}

.item a {
  text-decoration: none;
  color: white;
}

.item:hover {
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 6px 0;
}


#Inicio {
  border: thin solid black;
  width: 20%;
  float: left;
}

#Historia {
  border: thin solid black;
  width: 20%;
  float: left;
}

#Yeezymascara {
  border: thin solid black;
  width: 20%;
  float: left;
}

#Modelos {
  border: thin solid black;
  width: 20%;
  float: left;
}

#ProximasYeezy {
  border: thin solid black;
  width: 20%;
  float: left;
}

#submit {
	display: none;
}

#Texto {
  width: 30%;
  float: left;
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
  padding-top: 5%;
  padding-left: 5%;
  animation-duration: 3s;
  animation-name: slidein;
}

#right-column {
  width: 50%;
  float: right;
  border: 30%;
  padding-top: 5%;
  animation-duration: 3s;
  animation-name: slidein;
}

.carousel-buttons {
  padding-left: 15%;

 }

.carousel-image {
  display: none;
}

.carousel .carousel-image:first-child {
  display: block;
}

#button-previous {
  color: white;
  background-color: #9F958C;
}

#button-next {
  color: white;
  background-color: #9F958C;
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
	#top, #MENU ,	#right-column, #carousel-image {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }

  #Texto {
    width: 100%;
  }
